<style>
html, body {
    margin: 0;
    height: 100%;
 }
 #c {
    width: 100%;
    height: 100%;
    display: block;
 }
</style>

<canvas id="c">

</canvas>



<script type="module">
import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r127/build/three.module.js';
import {OrbitControls} from 'https://threejsfundamentals.org/threejs/resources/threejs/r127/examples/jsm/controls/OrbitControls.js';

function main(){
    const canvas = document.querySelector("#c");
    const renderer = new THREE.WebGLRenderer({canvas});

    const fov = 75;
    const aspect = 2;
    const near = 0.1;
    const far = 100;

    const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
    camera.position.z = 34;


    const scene = new THREE.Scene();

    const waterTowerGeometry = new THREE.BoxGeometry(3, 25, 3);
    const waterTowerMaterial = new THREE.MeshPhongMaterial({color: 0xffffff});
    const waterTower = new THREE.Mesh(waterTowerGeometry, waterTowerMaterial);
    waterTower.position.x = -7;
    waterTower.position.y =  7;
    waterTower.position.z = -2
    scene.add(waterTower);
    function makePillar(x){
        const height = 1;
        const width = 10;
        const length = 2;
        const geometry = new THREE.BoxGeometry(height, width, length);

        const material = new THREE.MeshPhongMaterial({color: 0xaaaaaa});

        const cube = new THREE.Mesh(geometry, material);
        cube.position.x = x;
        scene.add(cube);
        return cube;
    }

    let pillars = [];
    for(let i = 0; i < 6; i++){
        pillars.push(makePillar(i * 2 - 6));
    }

    const geo = new THREE.BoxGeometry(13, 3, 2);
    const mat = new THREE.MeshPhongMaterial({color: 0xbc4025});
    const F = new THREE.Mesh(geo, mat);
    F.position.y = -4;
    F.position.x = -1;
    F.position.z = 3;
    scene.add(F);



    const radiusB = 5;
    const segments = 30;
    const chowkg = new THREE.CylinderGeometry(radiusB, radiusB, 0.5, segments);
    const matB = new THREE.MeshPhongMaterial({color: 0xffffff});
    const chowk = new THREE.Mesh(chowkg, matB);
    chowk.position.y = -4;
    chowk.position.z = 15;
    scene.add(chowk);

    const radiusG = 4.5;
    const chowkgr = new THREE.CylinderGeometry(radiusG, radiusG, 0.75, segments);
    const matg = new THREE.MeshPhongMaterial({color: 0x7CFC00});
    const chowg = new THREE.Mesh(chowkgr, matg);
    chowg.position.y = -4;
    chowg.position.z = 15;
    scene.add(chowg);



    const bcrr = 0.5;
    const bcrg = new THREE.CylinderGeometry(bcrr, bcrr, 4, segments);
    const bcrmg = new THREE.MeshPhongMaterial({color: 0xff0000});
    const bcrmesh = new THREE.Mesh(bcrg, bcrmg);
    bcrmesh.position.y = -2;
    bcrmesh.position.z = 15;
    scene.add(bcrmesh);



    const color = 0xFFFFFF;
    const intensity = 2;
    const light = new THREE.PointLight(color, intensity);
    light.position.set(-1, 10, 30);
    scene.add(light);


    const newLight = new THREE.PointLight(0xFFFFFF, 0.5);
    newLight.position.set(-20, 2, 0);
    scene.add(newLight);

    const controls = new OrbitControls(camera, canvas);
    controls.target.set(0, 0, 0);
    controls.update();


    function resizeRendererToDisplaySize(renderer) {
        const canvas = renderer.domElement;
        const width = canvas.clientWidth;
        const height = canvas.clientHeight;
        const needResize = canvas.width !== width || canvas.height !== height;
        if (needResize) {
        renderer.setSize(width, height, false);
        }
        return needResize;
    }
    
    function rotator(time){
        time *= 0.005;
        // pillars.forEach(Z=>{
        //     Z.rotation.x = time;
        // })
        // light.position.z = time;
        // light.position.x = time/2;
        if(resizeRendererToDisplaySize(renderer)){
            const canvas = renderer.domElement;
            camera.aspect = canvas.clientWidth / canvas.clientHeight;
            camera.updateProjectionMatrix();
        }
        renderer.render(scene, camera);
        requestAnimationFrame(rotator);
    }

    requestAnimationFrame(rotator);


}

main();
</script>